[submodule "smslibrary"]
	path = smslibrary
	url = https://github.com/Cogno-IDU/smslibrary/tree/master/smslibrary
[submodule "android-preferences"]
	path = android-preferences
	url = https://github.com/CremaLuca/android-preferences.git
