[submodule "android-preferences"]
	path = android-preferences
	url = https://github.com/CremaLuca/android-preferences.git
[submodule "smslibrary-submodule"]
	path = smslibrary-submodule
	url = https://github.com/Cogno-IDU/smslibrary
